<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%=DefaultTitle%></title>
  <% 
    if (CDN) {
      for(var i = 0; i < CDN.length; i++){
        var path = (htmlWebpackPlugin.options.publicPath) +'cdn/'+  CDN[i]
        var tag = ''
        if(/\.css(\?.*)?/.test(path)){
          tag = '<link href="'+ path +'" rel="stylesheet" />'
        }else{
          tag = '<script src="'+ path +'"></script>'
        }
    %>
  <%= tag %>
  <%
      }
    }
    %>
</head>

<body>
  <div id="wrapper">
    <div id="app"></div>
  </div>
</body>
</html>